header{
  color: white;
  display: flex;
  min-height: 70px;
  background-color: #002a4f;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#cart{
  width: 50px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 0px;
}

a{
  text-decoration: none;
  color: white;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color:gray;
}

body {
    background-image: url('imgs/fondo.jpg');
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  #nuestro_equipo{
    align-items: center;
    width: 50%;
    background-color: burlywood;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: 500;
  }

  #equipo{
    padding: auto;
    background-color: rgba(100, 149, 237, 0.75);
    font-weight: 500;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    flex: 1;
    width: 33.3%;
    padding: 0 8px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(20px);
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5def;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color:lightgray;
    text-align: center;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  h3{
    text-align: center;
  }

  .infocor{
    text-align: center;
  }

  #nos{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid cornflowerblue;
  }

  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0; /* Añade espacio alrededor del texto del footer */
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
  *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Open Sans', sans-serif;
  }
  .pie-pagina{
     width: 100%;
     background-color: #002a4f;
  }
  .pie-pagina .grupo-1{
     width: 100%;
     max-width: 1200px;
     margin: auto;
     display:grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap:50px;
     padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
     width: 250px;
  }
  .pie-pagina .grupo-1 .box h3{
     color: #fff;
     margin-bottom: 25px;
     font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
     color: #efefef;
     margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
     display: inline-block;
     text-decoration: none;
     width: 45px;
     height: 45px;
     line-height: 45px;
     color: #fff;
     margin-right: 10px;
     background-color: #0d2033;
     text-align: center;
     transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
     color: aqua;
  }
  .pie-pagina .grupo-2{
    width: 100%;
    height: auto;
     background-color: #0a1a2a;
     padding: 15px 10px;
     text-align: center;
     color: #fff;
  }
  .pie-pagina .grupo-2 small{
     font-size: 15px;
  }
  @media screen and (max-width:800px){
     .pie-pagina .grupo-1{
         width: 90%;
         grid-template-columns: repeat(1, 1fr);
         grid-gap:30px;
         padding: 35px 0px;
     }
  }
