header{
  color: white;
  display: flex;
  min-height: 70px;
  background-color: rgb(76, 133, 246);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: white;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color:gray;
}

@media (max-width:700px){
  header{
      flex-direction: column;
  }
  nav{
      padding: 10px 0px;
  }
}

h1{
  color: aqua;
}

#cart{
  width: 50px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
  padding-left: 10px;
}

  
body {
    background-image: url('imgs/fondo.jpg');
    background-size: cover;
    position: relative;
}
 
  body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

  .form-register {
    width: 500px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  #boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }